INSERT INTO {{ target_table }} ({{ target_columns }})
WITH today() AS end_dt, addDays(end_dt, -{{ backfill_days }}) AS start_dt
SELECT {{ select_list }}
FROM url(
  'https://api.dune.com/api/v1/query/{{ dune_query_id_full }}/results/csv?api_key={% raw %}{{DUNE_API_KEY}}{% endraw %}',
  'CSVWithNames',
  '{{ csv_schema }}'
)
WHERE {{ date_backfill_predicate }};