INSERT INTO {{ target_table }} ({{ target_columns }})
SELECT {{ select_list }}
FROM url(
  'https://api.dune.com/api/v1/query/{{ dune_query_id_daily }}/results/csv?api_key={% raw %}{{DUNE_API_KEY}}{% endraw %}',
  'CSVWithNames',
  '{{ csv_schema }}'
);